main {
    background: radial-gradient(#e6e3e1 50%, #c6c8c9, #aeb0b1);
    color: #343633;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    font-size:25px;
    
}

main > div, ul {
    margin-right: 4em;
    
}


ul {
    list-style: none;
    max-width: 300px;
}

li {
    font-size: 20px;
    padding: 1em;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
