:root {
    --redg:  linear-gradient(to top right, red, rgb(168, 121, 121));
    --greeng: linear-gradient(to top right, rgb(5, 107, 5), rgb(121, 168, 121));
    --yellowg: linear-gradient(to top right, rgb(168, 168, 16), rgb(240, 240, 169));
    --blueg: linear-gradient(to top right, rgb(0, 0, 195), rgb(121, 121, 168));
    --blackg: linear-gradient(to top right, black, rgb(112, 111, 111));
    --whiteg: linear-gradient(to top right, rgb(97, 96, 96), white);
}   


.board {
    background: rgb(106, 106, 107);
    width: 300px;
    height: 530px;
    border-radius:4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8em;
    border: thin black solid;
    box-shadow: 10px 10px 30px;
}

.cp-row {
    display: flex;
    justify-content: space-between;
}

.cp-slot {
    background:linear-gradient(to top right, rgb(53, 50, 50), gray);
    height:30px;
    width:30px;
    border-radius:50%;
    border: thin black solid;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer;
}


.kp-slot {
    background:linear-gradient(to top right, black, gray);
    height:8px;
    width:8px;
    border-radius:50%;
    border: thin black solid;
    margin: 3px;
}

.kp-row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.kp-square {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: thin black solid;
    padding-left: 0.8em;
}


.dock {
    background:rgb(106, 106, 107);
    width:200px;
    height:132px;
    border-radius:4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5em;
    border: thin black solid;
    box-shadow: 10px 10px 30px;
}

.red {
    background: var(--redg);
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer;
}

.red:hover {
    /* background:linear-gradient(to top right, rgb(199, 84, 84), rgb(238, 159, 159)); */
    border: thick black solid;
}

.red:active {
    /* background:linear-gradient(to top right, rgb(199, 84, 84), rgb(238, 159, 159)); */
    border: thick black solid;
}

.green {
    background:var(--greeng);
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer;
}

.green:hover {
    /* background:linear-gradient(to top right, rgb(49, 141, 49), rgb(160, 216, 160)); */
    border: thick black solid;
}

.green:active {
    /* background:linear-gradient(to top right, rgb(49, 141, 49), rgb(160, 216, 160)); */
    border: thick black solid;
}

.yellow {
    background:var(--yellowg);
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer;
}

.yellow:hover {
    /* background:linear-gradient(to top right, rgb(218, 218, 98), rgb(236, 236, 188)); */
    border: thick black solid;
}

.yellow:active {
    /* background:linear-gradient(to top right, rgb(218, 218, 98), rgb(236, 236, 188)); */
    border: thick black solid;
}


.blue {
    background:var(--blueg);
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer;
}

.blue:hover {
    /* background:linear-gradient(to top right, rgb(80, 80, 211), rgb(169, 169, 221)); */
    border: thick black solid;
}

.blue:active {
    /* background:linear-gradient(to top right, rgb(80, 80, 211), rgb(169, 169, 221)); */
    border: thick black solid;
}


.black {
    background:var(--blackg);
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer;
}

.black:hover {
    border: thick black solid;
    /* background:linear-gradient(to top right, rgb(66, 63, 63), rgb(182, 179, 179));
    } */
}

.black:active {
    /* background:linear-gradient(to top right, rgb(66, 63, 63), rgb(182, 179, 179)); */
    border: thick black solid;
}


.white {
    background:var(--whiteg);
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    cursor: pointer;
}

.white:hover {
    /* background:linear-gradient(to top right, rgb(167, 165, 165), white); */
    border: thick black solid;
}   

.white:active {
    /* background:linear-gradient(to top right, rgb(167, 165, 165), white); */
    border: thick black solid;
}

.red-kp {
    background: linear-gradient(to top right, red, pink)
}

.white-kp {
    background: linear-gradient(to top right, gray, white)
}

.dock-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#secret-code .kp-square {
    border: none;
}

#secret-code .cp-slot {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

#secret-code .kp-slot {
    background: rgb(106, 106, 107);
    border: none;
}

.middle {
    display: flex;
    flex-direction: column;
}

.middle > div {
    margin: 1em;
}

