
.board {
    background: rgb(106, 106, 107);
    width: 300px;
    height: 530px;
    border-radius:4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8em;
    border: thin black solid;
}

.cp-row {
    display: flex;
    justify-content: space-between;


}

.cp-slot {
    background:linear-gradient(to top right, black, gray);
    height:30px;
    width:30px;
    border-radius:50%;
    border: thin black solid;
}

.kp-slot {
    background:linear-gradient(to top right, black, gray);
    height:8px;
    width:8px;
    border-radius:50%;
    border: thin black solid;
    margin: 3px;
}

.kp-row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.kp-square {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: thin black solid;
    padding-left: 0.8em;
}


.dock {
    background:rgb(106, 106, 107);
    width:200px;
    height:132px;
    border-radius:4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5em;
    border: thin black solid;
}

.red-peg {
    background:linear-gradient(to top right, red, rgb(168, 121, 121));
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
}

.green-peg {
    background:linear-gradient(to top right, rgb(5, 107, 5), rgb(121, 168, 121));
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
}

.yellow-peg {
    background:linear-gradient(to top right, rgb(168, 168, 16), rgb(240, 240, 169));
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
}

.blue-peg {
    background:linear-gradient(to top right, blue, rgb(121, 121, 168));
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
}

.black-peg {
    background:linear-gradient(to top right, black, rgb(112, 111, 111));
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
}

.white-peg {
    background:linear-gradient(to top right, rgb(126, 125, 125), white);
    border: thin black solid;
    height:30px;
    width:30px;
    border-radius:50%;
}

.dock-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}