main {
    background: radial-gradient(#e6e3e1 50%, #c6c8c9, #aeb0b1);
    color: #343633;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    font-size:25px;
    
}

main h1 {
    padding: 0.5em;
    font-weight:100;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
}


form .un, form .pass {
    padding: 10px;
}


.btn {
    margin: 20px;
}