/* Colors::
- blue (388697)
- light blue: (b3dfdf)
- gray (c7c3c0)
- black (343633)
- red (b10f2e) */
header, footer {
    background: #388697;
}

li {
    color:#343633;
    display: inline-flex;
    text-align: left;
}

main {
    background: #c7c3c0;
    color: #343633;
}

 header {
    color : #c7c3c0;
 }
