*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.navbar {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #388697;
    padding: 18px 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.navbar .title {
    color: #343633;
    font-size: 35px;
    font-weight: bold;
}

.navbar menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar menu li {
    list-style: none;
    position: relative;
    margin: 0px 10px;
    padding: 0px 2px;
}

.navbar menu li a {
    color:#e4dbd5;
    text-decoration: none;
    font-size: 20px;
}

.navbar menu li a::before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:3px;
    margin-bottom:-2px;
    background:linear-gradient(to right,#EE9CA7, #FFDDE1);
    transform:scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
}

.navbar menu li a:hover::before, .navbar menu li a:focus::before{
    transform:scaleX(1);
    transform-origin: bottom left;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 40px;
    font-family: 'OCR A Std', serif;
}

main {
    background: #c7c3c0;
    color: #343633;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    min-width: 10em;
    font-size:25px;
    
}

main > div, ul {
    margin-right: 3em;
    margin-left: 3em;
}


ul {
    list-style: none;
    max-width: 300px;
}

li{
    font-size: 20px;
    padding: 1em;
}



.btn {
    border-radius: 5px;
    font-family: OCR A Std;
    font-size: 20px;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    background:#343633;
    color:#e4dbd5;
    padding: .5em 1em;
    border:none;
    outline:none;
    position:relative;
    cursor:pointer;
    --accent-color: #388697;
}

.btn::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: -1;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.btn:hover::before, .btn:focus::before {
    transform: scaleX(1);
}

.btn {
    z-index:1;
}

footer {
    font-size: 19px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #388697;
    padding: 18px 60px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    
}

footer a {
    text-decoration: none;
    color: #e4dbd5;
}

.repo-link li {
    list-style: none;
    position: relative;
    margin: 0px 10px;
    padding: 0px 2px;
}

.repo-link li a::before {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:3px;
    margin-bottom:-2px;
    background:linear-gradient(to right,#EE9CA7, #FFDDE1);
    transform:scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
}

.repo-link li a:hover::before, .repo-link li a:focus::before{
    transform:scaleX(1);
    transform-origin: bottom left;
}

